*{
    margin: 0;
    padding: 0;
}
nav{
    height:12vh;
}
.navbar{
    width: 100vw;
    display: flex;
    height: 100%;
    justify-content: space-around;
    background-color: rgb(57, 86, 70);
}
.logo{
    height: 75%;
}
.notable-destinations{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 86, 70);
}
.nd-main{
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234, 234, 234, 0);
}
.img-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 40%;
}
.img-track > img{
    height: 40vh;
    width: 30vh;
    transform: translate(0,-40%);
    object-fit: cover;
    object-position: center;
}